html {
	font-size: 62.5%;
}
body {
	font-family: Rajdhani;
	color: DARKBLUE;
	font-size: 1.6rem;
	background: linear-gradient(to bottom, #ffeeee, #ddefbb);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

#search {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

#posts {
    font-family: Helvetica, Arial, sans-serif;
    color: blue;
    font-size: 1.6rem;
    background-color: lightblue;
}

.navbar {
}

#HNA {
    background: Black;
}

#Na {
    font-family: Acme;
}

#Na a {
    text-decoration:none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    border-radius: 25%
}

li a:hover:not(.is-active) {
    background-color: CRIMSON;
}

.is-active {
    background-color: STEELBLUE;
 
}

#search-button {
    background-color: STEELBLUE;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    cursor: pointer;
    border-radius: 20%

}

.Sform-control {
    height: 40px;
    width: 175px;
    font-size: 17px;
    margin: 0px 3px;

}

#catB {
    height: 40px;
    width: 80 px;
    margin: 0px 3px;
    font-size: 20px;
}
.jobsDiv{
    border-radius: 10px; 
    background-color:#FFFDF0;
    width:50%;
    margin-bottom:10px;
    margin-top:5px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
    padding-left:10px;
    font-family: Helvetica, Arial, sans-serif;
}


