html {
	font-size: 62.5%;
}
body {
	font-family: Rajdhani;
	color: DARKBLUE;
	font-size: 1.6rem;
	background: linear-gradient(to bottom, #ffeeee, #ddefbb);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

#search {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

#posts {
    font-family: Helvetica, Arial, sans-serif;
    color: blue;
    font-size: 1.6rem;
    background-color: lightblue;
}


#HNA {
    background: linear-gradient(to right, #000000, #434343);
}

#Na {
    font-family: Acme;
}

#Na a {
    text-decoration:none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    border-radius: 25%
}

li a:hover:not(.is-active) {
    background-color: gray;
}

.is-active {
    background-color: STEELBLUE;
 
}

#search-button {
    background-color: STEELBLUE;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    cursor: pointer;
    border-radius: 20%

}

.Sform-control {
    height: 40px;
    width: 175px;
    font-size: 17px;
    margin: 0px 3px;

}

#catagory {
    border-radius: 10px; 
    width: 800px;
    height: 70px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 25px;
}

#catB {
  width: 370px;
  height: 50px;
  margin: 10px;
}

#catJ {
  width: 175px;
  height: 35px;
}
#catJobs{
width: 175px;
  height: 35px;
}
#catI {
  width: 370px;
  height: 50px;
}

.jobsDiv {
    border-radius: 10px; 
    background-color: #FFFDF0;
    width: 900;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

#loginimg {
    width: 100px;
    height: 100px
}

#b {
    color: #c7c7c7
}

.wrapper {
    margin-top: 50px;
    margin-bottom: 20px;
}

.form-signin {
    max-width: 420px;
    padding: 10px 38px 66px;
    margin: 0 auto;
    background-color: #eee;
    border: 3px dotted rgba(0,0,0,0.1);
    border-radius: 5px;
}

.form-signin-heading {
    text-align: center;
    margin-bottom: 20px;
}

#logform {
    border-radius: 10px; 
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

#loguser[type="text"] {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 340px;
    height: 40px;
    font-size: 18px
}

#logpass[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 340px;
    height: 40px;
    font-size: 18px
}

#logb {
    width: 100px;
    height: 55px;
}

#jobb {
    width: 100px;
    height: 55px;
}

#jobform {
    font-size: 17px;
    width: 900px;
    height: 460px;

}

#req {
   font-size: 15px; 
}

#signUpPage {
    background: url(https://pre00.deviantart.net/36e2/th/pre/i/2009/362/e/3/office_desk_background_by_chocotemplates.jpg);
    background-size: cover;
    height: 93vh;
    width: 100vw;
    color: red;
}

#postTime {
  color: green;
  font-size: 12px;
}

#postDiv {
  font-family: Mina;
  color: #2E86C1;
  font-size: 18px;
}

#signup2 {
  width: 870px;
  height: 420px;
}

#signlable {
  text-align: left;
}

#description {
 text-align: left; 
}